<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.loveunited.tmall_b_backend.mapper.StockDetailMapper">
    <resultMap id="stockDetailMap" type="StockDetail">
        <id property="id" column="id"/>
        <result property="commodityID" column="commodity_id"/>
        <result property="stockPrice" column="commodity_stock_price"/>
        <result property="stockNum" column="commodity_stock_num"/>
    </resultMap>

</mapper>