<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.loveunited.tmall_b_backend.mapper.StockDetailMapper">
    <resultMap id="stockDetailMap" type="StockDetail">
        <id property="id" column="id"/>
        <result property="commodityID" column="commodity_id"/>
        <result property="stockPrice" column="commodity_stock_price"/>
        <result property="stockNum" column="commodity_stock_num"/>
        <result property="stockTime" column="stock_time"/>
    </resultMap>

    <select id="queryStockDetailAllByPage" resultMap="stockDetailMap">
        select * from stock_detail limit #{offset}, #{pageSize}
    </select>
    <select id="queryStockDetailAllTotalNum" resultType="java.lang.Integer">
        select count(*) from stock_detail
    </select>

    <select id="queryStockDetailById" resultMap="stockDetailMap">
        select * from stock_detail where id = #{id};
    </select>
    
    <select id="queryStockDetailByCommodityIdByPage" resultMap="stockDetailMap">
        select * from stock_detail where commodity_id = #{commodityId} limit #{offset}, #{pageSize}
    </select>
    <select id="queryStockDetailByCommodityIdTotalNum" resultType="java.lang.Integer">
        select count(*) from stock_detail where commodity_id = #{commodityId}
    </select>
    
    <insert id="insertStockDetail" useGeneratedKeys="true" keyColumn="id" keyProperty="id" parameterType="StockDetail">
        insert into stock_detail (id, commodity_id, commodity_stock_num, commodity_stock_price, stock_time)
        values (null, #{commodityID}, #{stockNum}, #{stockPrice}, current_timestamp())
    </insert>
</mapper>